$primary: #007CC3;          //Blue for header background, buttons and some important text
$secondary: #06456A;        //Dark Blue for headers
$white: #fff;               
$text: #4A4A4A;             //Darker grey for general text and borders
$text-secondary: #9B9B9B;   //Lighter grey for disabled and lighter state text
